MISTRAL_API_KEY= Insert_API_MISTRAL_OR_OTHER_KEY_HERE
MISTRAL_MODEL=Insert_MISTRAL_MODEL_HERE
OPENAGENDA_API_KEY= Insert_API_OPENAGENDA_KEY_HERE
OPENAGENDA_AGENDA_UID=961617
OPENAGENDA_SEARCH=
OPENAGENDA_CITY=
OPENAGENDA_MAX_EVENTS=300